<div class="section">
  <div class="availability">
    <h2 class="availability-text">Select Availability:</h2>
    <div class="availability-options">

      <div class="availability-options__item">
        <p>Sunday</p>
      </div>

      <div class="availability-options__item">
        <p>Monday</p>
      </div>

      <div class="availability-options__item">
        <p>Tuesday</p>
      </div>

      <div class="availability-options__item">
        <p>Wednesday</p>
      </div>

      <div class="availability-options__item">
        <p>Thursday</p>
      </div>

      <div class="availability-options__item">
        <p>Friday</p>
      </div>

      <div class="availability-options__item">
        <p>Saturday</p>
      </div>

    </div>

    <div class="move-on">
      <div class="move-on__button direction backward"><i class="fa fa-chevron-circle-left backward" aria-hidden="true"></i></div>
      <div class="move-on__button skip">Skip</div>
      <div class="move-on__button direction"><i class="fa fa-chevron-circle-right forward" aria-hidden="true"></i></div>
    </div>

  </div>
</div>
