<div class="section">
  <div class="availability">
    <h2 class="availability-text">Select Availability:</h2>
    <div class="availability-options">

      {{#each availabilities as |availability|}}
        <div class="availability-options__item">
          <p>{{availability}}</p>
        </div>
      {{/each}}

    </div>

    <div class="move-on">
      <div class="move-on__button direction">{{#link-to 'create1'}}<i class="fa fa-chevron-circle-left backward" aria-hidden="true"></i>{{/link-to}}</div>
      <div class="move-on__button skip">{{#link-to 'create3'}}Skip{{/link-to}}</div>
      <div class="move-on__button direction">{{#link-to 'create3'}}<i class="fa fa-chevron-circle-right forward" aria-hidden="true"></i>{{/link-to}}</div>
    </div>

  </div>
</div>
