.login-container {
  max-width: 40rem;
  margin: auto;
}

.login-card {
  color: $white;
  margin-top: $gutter;
  // Why won't this work?
  background-color: $appPrimary;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
  font-family: $font-nav;
  // border: 1px solid $colorSecondary #f0f0f0;

  &__error {
    color: $white;
    text-transform: capitalize;
  }


  &__heading {
    display: flex;
  }

  &__tab {
    width: 50%;
    text-align: center;
    padding: $gutter;
    font-size: 1.5rem;
    color: $white;
    // background-color: $appPrimary;
    border: 0;
    text-decoration: none;
    box-shadow: 0rem 0.2rem 0.1rem rgba(0, 0, 0, 0.5);

    &.active {
      background-color: darken($appPrimary, 10%);
      box-shadow: none;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
  }

  &__form {
    width: 100%;
  }



  &__control {
    width: 100%;
    font-size: 1rem;
    font-family: $font-nav;
    padding: $gutter / 2;
    background-color: $white;
  }

  &__checkbox {
    float: left;
    margin-top: 0;
  }

  &__submit {
    color: $white;
    border: 1px solid $white;
    width: 100%;
    padding: $gutter / 2;
    background: 0;
    margin-bottom: $gutter;
    font-size: 1.5rem;
  }
}

.register {

}

.forgot-password {
  float: right;
  margin-top: 0;
}

.remember {
  margin: $gutter 0;
}

.register-card {
  margin-top: 0;
}
