.map-container {
  font-family: 'Fjalla One', sans-serif;
}

.map-header {
  text-align: center;
  font-size: 1.25rem;

  &__attention {
    color: $black;
    margin-bottom: 0;
  }

  &__direction {
    color: $black;
    font-size: 1.25rem;
    margin-top: $gutter;
    margin-bottom: 0;
  }

  &__filter {
    color: $c-lightgrey;
    font-size: 1.5rem;
  }
}

.map-location {
  border: 0;
  background-color: $appSecondary;
  color: $white;
  padding: $gutter / 2;
  font-size: 1rem;
  margin-top: $gutter;
  cursor: pointer;

}

.workout-partners {
  color: $appThird;
}

.filter-set {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: $gutter;
  margin-bottom: $gutter;

  margin-top: $gutter * 2;
  min-width: 28rem;

  &__button {
    color: $white;
    background-color: $appSecondary;
    border: none;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;


    &:hover {
      background-color: $appThird;
    }
  }
}

.filter-icon {
  filter: invert(100%);
}

.map-section {
  padding: $gutter;
}

.leaflet-map {
  height: 550px;
  width: 100%;
}

.leaflet-control-attribution {
  & a {
    color: white;
    background: none;
    opacity: 0.1;
  }
}


.results-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: $gutter;

  &__item {
    margin: 0.5rem 0.5rem 1rem 0.5rem;
  }
}

.results-card {
  background-color: $appThird;
  width: 20rem;
  height: 20rem;
  padding: $gutter / 2;
  box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.5);

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 2px solid #eee;
  }

  &__name {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    color: $white;
  }

  &__details {
    font-size: 1rem;
    margin: 0;
    color: $white;
  }

  &__availability {

  }

  &__activities {
    display: flex;
    flex-direction: row;
  }
}

.activity-icon {
  width: 0.75rem;
  flex-basis: calc(100% / 3 - 1rem);
  filter: invert(100%);
  background: $appThird;
  border-radius: 50%;
  margin: 0.5rem;
}

.results-container {
  // max-width: 50rem;
}

.user-details {
  display: flex;
  justify-content: center;
}

.wizard-card {
  margin: 0.5rem;

  &__headline {
    font-size: 1.1rem;
    color: $appSecondary;
    margin: 0;
    padding-right: 0.2rem;
    line-height: 1rem;
    text-align: center;
  }
}

.edit-headline {
  font-size: 0.7rem;
}

.underline-only {
  text-decoration: underline;
}

.headline {
  display: flex;
}

.wizard-list__item {
  justify-content: center;
  margin: 1rem;
  flex-grow: 1;
  display: flex;
  color: $white;
  background: $appSecondary;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
  padding: 0.4rem;
  width: 7rem;
}

.quick-view__name {
  text-align: center;
  color: $appThird;
}

.quick-view__details {
  text-align: center;
  color: $appSecondary;
  margin: 0;
}
