.map-container {
  font-family: 'Fjalla One', sans-serif;
}

.map-header {
  text-align: center;
  font-size: 1.25rem;

  &__attention {
    color: $black;
    margin-bottom: 0;
  }

  &__direction {
    color: $black;
    font-size: 1.25rem;
    margin-top: $gutter / 2;
  }

  &__filter {
    color: $c-lightgrey;
    font-size: 1.5rem;
  }

}

.workout-partners {
  color: $c-app-primary;
}

.filter-set {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: $gutter * 2 $gutter;
  margin-bottom: $gutter;

  &__button {
    color: $white;
    background-color: $appThird;
    border: none;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;


    &:hover {
      background-color: $appSecondary;
    }
  }
}

.filter-icon {
  filter: invert(100%);
}

.map-section {
  padding: $gutter;
}

.leaflet-map {
  height: 550px;
  width: 100%;
}

.leaflet-control-attribution {
  & a {
    color: white;
    background: none;
    opacity: 0.1;
  }
}


.results-grid {
  background-color: $c-lightgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: $gutter;

  &__item {
    margin: 0.5rem;
    flex-basis: calc(100% / 3 - 1rem);
  }
}

.results-card {
  background-color: $white;
  padding: $gutter / 2;
  box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.5);

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 2px solid #eee;
  }

  &__name {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    color: $appSecondary;
  }

  &__details {
    font-size: 1rem;
    margin: 0;
    color: #999;
  }

  &__availability {

  }

  &__activities {
    display: flex;
    flex-direction: row;
  }
}

.activity-icon {
  width: 0.75rem;
  flex-basis: calc(100% / 3 - 1rem);
  filter: invert(100%);
  background: $appThird;
  border-radius: 50%;
  margin: 0.5rem;
}

.results-container {
  max-width: 50rem;
}
