.filter-set {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: $gutter * 2 $gutter;
  background-color: #eee;
  margin-bottom: $gutter;

  &__button {
    color: $white;
    background-color: $c-app-lightblue;
    border: none;
    border-radius: 50%;
    height: 11rem;
    width: 11rem;
    filter: invert(100%);

    &:hover {
      filter: opacity(60%);
    }
  }
}

.results-grid {
  background-color: #eee;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: $gutter;

  &__item {
    margin: 0.5rem;
    flex-basis: calc(100% / 3 - 1rem);
  }
}

.results-card {
  background-color: $white;
  padding: $gutter / 2;
  box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.5);

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 2px solid #eee;
  }

  &__name {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    color: $c-app-lightblue;
    font-family: $font-nav;
  }

  &__details {
    font-size: 1rem;
    margin: 0;
    color: #999;
  }

  &__activities {
    display: flex;
    flex-direction: row;
  }
}

.activity-icon {
  width: 0.75rem;
  flex-basis: calc(100% / 3 - 1rem);
  filter: invert(100%);
  background: $appPrimary;
  border-radius: 50%;
  margin: 0.5rem;
}
