

/*Colors*/
$white: #fff;
$black: #000;
$colorSecondary: #7E7E7E;
$appPrimary: #0A9BD9 ;
$appSecondary: #00354d ;
$c-green: #00a42e;

/*measurements*/
$gutter: 1rem;

/*fonts*/
$fonthero: 'Permanent Marker', cursive;
$font-nav: 'Raleway', sans-serif;

@import 'resets';
@import 'nav';
@import 'footer';
@import 'login';
@import 'register';




// .login-card {
//   background-color: $colorSecondary;
// }
