

/*Colors*/
$white: #fff;
$black: #000;
$colorSecondary: #7E7E7E;

/*measurements*/
$gutter: 1rem;

/*fonts*/
$fonthero: 'Permanent Marker', cursive;
$font-nav: 'Julius Sans One', sans-serif;

@import 'box-sizing';
@import 'css-resets';
@import 'double-container';
@import 'top-section';
// @import 'middle-section';
// @import 'sidebar';
// @import 'bottom-section';
@import 'resets';
@import 'nav';
@import 'footer';
@import 'components/square';
@import 'map-filter';

fa-icon {
  text-decoration: none;
}
