.availability {
  flex: 1;
  font-family: 'Droid Sans';
}

.availability-text {
  text-align: center;
  color: #001d2a;
}

.availability-options {
  max-width: 35rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__item {
    justify-content: center;
    margin: 1rem;
    flex-grow: 1;
    display: flex;
    color: white;
    background: $appPrimary;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
    transition-property: color, background-color;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.5s;

    &:hover {
      animation-duration: 1s;
      animation-delay: 0.5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      background-color: $appSecondary;
      cursor: pointer;
    }
  }
}

.fa {
  text-align: center;
}

.fa-chevron-circle-left {
  text-align: center;
}

.fa-chevron-circle-right {
  text-align: center;
}


.direction {
  text-align: center;
}

.skip {
  text-align: center;
}

.backward {
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition-duration: 0.1s;
  &:hover {
    transform: translateX(-4px);
  }
}

.forward {
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition-duration: 0.1s;

    &:hover {
      transform: translateX(4px);
    }
}
