a {
  text-decoration: none;
  color: inherit
}

.activities {
  flex: 1;
  background: #ececec;
}

.activities-text {
  text-align: center;
  color: #00354d;
}

.activities-options {
  max-width: 35rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  &__image {
    // height: 10rem;
    // width: 10rem;
    filter: invert(100%);
  }

  &__item {
    width: 10rem;
    height: 10rem;
    justify-content: center;
    margin: 1rem;
    flex-basis: calc(100%/3 - 2rem);
    flex-grow: 1;
    display: flex;
    background: $appThird;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
    transition-property: color, background-color;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.5s;

    &:hover {
      animation-duration: 1s;
      animation-delay: 0.5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      background-color: $appSecondary;
      cursor: pointer;
    }
  }
}

.move-on {
  justify-content: center;
  display: flex;

    &__button {
      background: $appSecondary;
      color: white;
      padding: 1rem;
      margin: 1rem;
      box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
}
