// *** CSS RESETS ***

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
}

header {
  margin: 1rem;
}


// *** COLOURS ***

// *GRAYSCALES*
$c-black: #000;
$c-white: #fff;
$c-greylink: #888;
$c-darkgrey: #414141;
$c-lightgrey: #9e9e9e;

// *RAINBOW COLOURS*
$c-violet: #9400d3;
$c-indigo: #4b0082;
$c-blue: #00f;
$c-green: #0f0;
$c-yellow: #ff0 ;
$c-orange: #ff7f00;
$c-red: #f00;

// *RANDOM COLOURS*
$c-green: #00a42e;
$c-hotpink: #fa00ff;
$c-darkblue: #000a3e;
$c-greenblue: #005243;
$c-magenta: #7d0043;
$c-purple: #30f;

// *APP COLOURS*
$c-app-primary: #2FBCB9;
$c-app-darkblue: #083452;
$c-app-lightblue: #106db3;
$c-button-light: #a3b3bf;
$c-button-dark: #5e686f;
