.card {
  display: flex;
  justify-content: center;
  margin: 3rem;
  font-family: Raleway;
}

.card-container {
  display: flex;
  flex-direction: row;
  // width: 100%;
  border: 3px solid $appSecondary;
  border-radius: 10px;
  width: 40rem;
  min-width: 30rem;
}

.card-sidebar {
  display: flex;
  flex-direction: column;
  min-width: 10rem;

  border-right: 3px solid $appSecondary;

  &__item {
    padding: 0.8rem;
    border-bottom: 3px solid $appSecondary;
  }

  &__item-text {
    margin: 0;
    color: $appSecondary;
    font-weight: 800;
  }
}

.content {
  width: 100%;
}

.content-form {
  display: flex;

  &__input {
    margin: 0.5rem;
    // max-width: 15rem;
    flex-grow: 1;

    border: none;
    color: $appSecondary;
    background: #fcfcfc;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    border: 3px solid $appThird;
    padding: 1rem;

    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  }

  &__option {
    padding: 1rem;
    position:relative

    :after {
        content:'<>';
        font:11px "Consolas", monospace;
        color:#aaa;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        transform:rotate(90deg);
        right:8px; top:2px;
        padding:0 0 2px;
        border-bottom:1px solid #ddd;
        position:absolute;
        pointer-events:none;
    }
    :before {
        content:'';
        right:6px; top:0px;
        width:20px; height:20px;
        background:#f8f8f8;
        position:absolute;
        pointer-events:none;
        display:block;
    }
  }

  &__submit {
    background: $appSecondary;
    border: none;
    color: white;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    width: 10rem;
    align-self: center;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
