.card {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  // width: 100%;
  height: 100vh;
  border: 3px solid $appSecondary;
  width: 40rem;
  min-width: 30rem;
}

.card-sidebar {
  background: $appPrimary;
  display: flex;
  flex-direction: column;
  min-width: 10rem;

    // padding: 1.5rem;
  border-right: 3px solid $appSecondary;

  &__item {
    padding: 0.8rem;
    border-bottom: 3px solid $appSecondary;
    background: $appPrimary;
    color: white;
  }

  &__item-text {
    margin: 0;
  }
}

.content {
      padding: 0.8rem;
      background: $appPrimary;
      width: 100%;
}

.content-form {

  &__item {
    display: flex;
    padding-bottom: 2rem;
  }

  &__title {
    color: $c-white;
    padding: 0 0.5rem;
    margin: 0;
  }

  &__input {
    max-width: 15rem;
  }
}
