<div class="section">
  <div class="location">
    <h2 class="location-text">Select Location:</h2>
    <div class="location-options">

      <div class="location-options__item">
        <input class="location-input" type="text">
      </div>

    </div>

    <div class="move-on">
      <div class="move-on__button direction"><i class="fa fa-chevron-circle-left backward" aria-hidden="true"></i></div>
      <div class="move-on__button">Finish</div>
    </div>

  </div>
</div>
