<div class="app">
    <div class="main">

      <!-- HERO BANNER -->


      <div class="top">
          <div class="main-heading">
            <div class="main-heading-text">
              <p class="main-heading-big">Spot Me</p>
              {{!-- <p class="main-heading-small">Let's lift together!</p> --}}
              {{text-rotate}}
            </div>
          </div>
      </div>

    <div class="middle">
      <div class="middle-grid">

        <div class="middle-grid__item">
          <img src="./images/square-map.png" alt="" class="middle-grid__image">
          <button class="middle-grid__text">Get Moving</button>
        </div>

      </div>
    </div>

      <div class="grid">

        <div class="grid__item">
          <div class="square">
            <img class="square__image" src="./images/golfer.jpg" alt="">
            <p class="square__text">world sufing league</p>
          </div>
        </div>

        <div class="grid__item">
          <div class="square">
            <img class="square__image" src="./images/workout.jpg" alt="">
            <p class="square__text">cottesloe surf club</p>
          </div>
        </div>

        <div class="grid__item">
          <div class="square">
            <img class="square__image" src="http://i66.tinypic.com/2num078.gif" alt="">
            <p class="square__text">follow nick cooper photography</p>
          </div>
        </div>

        <div class="grid__item">
          <div class="square">
            <img class="square__image" src="https://68.media.tumblr.com/7ab98f8681a0d1f5dd88083638360642/tumblr_nnvzswNbfR1ru8dh2o1_500.jpg" alt="">
            <p class="square__text">apertunity photos</p>
          </div>
        </div>
      </div>

    </div>
  </div>
