<div class="app">
    <div class="main">

      <!-- HERO BANNER -->


      <div class="top">
          <div class="main-heading">
            <div class="main-heading-text">
              <p class="main-heading-big">Spot Me</p>
              {{!-- <p class="main-heading-small">Let's lift together!</p> --}}
              {{text-rotate}}
            </div>
          </div>
      </div>

    <div class="middle">
      <div class="middle-grid">

        <div class="middle-grid__item">
          <img src="./images/square-map.png" alt="" class="middle-grid__image">
          <button class="middle-grid__text"><p class="testing">{{#link-to 'login'}}Get Moving{{/link-to}}</p></button>

        </div>

      </div>
    </div>

      <div class="grid">

        <div class="grid__item">
          <div class="square">
            <img class="square__image" src="./images/running-buddies.jpg" alt="">
            <p class="square__text">world sufing league</p>
          </div>
        </div>

        <div class="grid__item">
          <div class="square">
            <img class="square__image" src="./images/golfing-buddies.jpg" alt="">
            <p class="square__text">cottesloe surf club</p>
          </div>
        </div>

        <div class="grid__item">
          <div class="square">
            <img class="square__image" src="./images/yoga-girls.jpg" alt="">
            <p class="square__text">follow nick cooper photography</p>
          </div>
        </div>

        <div class="grid__item">
          <div class="square">
            <img class="square__image" src="./images/boxing-buddies.jpg" alt="">
            <p class="square__text">apertunity photos</p>
          </div>
        </div>
      </div>

    </div>
  </div>
