{{outlet}}
<div class="section">
  <div class="container">
    <div class="filter-set">
      <button type="button" class="filter-set__button">#</button>
      <button type="button" class="filter-set__button">#</button>
      <button type="button" class="filter-set__button">#</button>
      <button type="button" class="filter-set__button">#</button>

    </div>
    <div class="map">
      <img src="http://www.mapaplan.com/travel-map/london-top-tourist-attractions-map/high-resolution/london-top-tourist-attractions-map-09-google-maps-mashup-high-resolution.jpg" alt="dat map">
      {{!-- <embed src="" type=""> --}}
    </div>

      <div class="results-grid">
        <div class="results-grid__item">
          <div class="results-card">
            <div class="results-card__head">
              <h2 class="results-card__name">Will</h2>
              <p class="results-card__sa">M - 24</p>
            </div>
            <div class="results-card__activities">
              <img src="http://vignette2.wikia.nocookie.net/object-overload/images/6/6c/New_SoccerBall.png/revision/latest?cb=20131215161216" alt="" class="activity-icon">
              <img src="http://vignette2.wikia.nocookie.net/object-overload/images/6/6c/New_SoccerBall.png/revision/latest?cb=20131215161216" alt="" class="activity-icon">
              <img src="http://vignette2.wikia.nocookie.net/object-overload/images/6/6c/New_SoccerBall.png/revision/latest?cb=20131215161216" alt="" class="activity-icon">
            </div>
          </div>
        </div>
        <div class="results-grid__item">
          <div class="results-card">
            <div class="results-card__head">
              <h2 class="results-card__name">Kelly</h2>
              <p class="results-card__sa">F - 25</p>
            </div>
            <div class="results-card__activities">
              <img src="http://vignette2.wikia.nocookie.net/object-overload/images/6/6c/New_SoccerBall.png/revision/latest?cb=20131215161216" alt="" class="activity-icon">
              <img src="http://vignette2.wikia.nocookie.net/object-overload/images/6/6c/New_SoccerBall.png/revision/latest?cb=20131215161216" alt="" class="activity-icon">
              <img src="http://vignette2.wikia.nocookie.net/object-overload/images/6/6c/New_SoccerBall.png/revision/latest?cb=20131215161216" alt="" class="activity-icon">
            </div>
          </div>
        </div>
        <div class="results-grid__item">
          <div class="results-card">
            <div class="results-card__head">
              <h2 class="results-card__name">Blake</h2>
              <p class="results-card__sa">M - 26</p>
            </div>
            <div class="results-card__activities">
              <img src="http://vignette2.wikia.nocookie.net/object-overload/images/6/6c/New_SoccerBall.png/revision/latest?cb=20131215161216" alt="" class="activity-icon">
              <img src="http://vignette2.wikia.nocookie.net/object-overload/images/6/6c/New_SoccerBall.png/revision/latest?cb=20131215161216" alt="" class="activity-icon">
              <img src="http://vignette2.wikia.nocookie.net/object-overload/images/6/6c/New_SoccerBall.png/revision/latest?cb=20131215161216" alt="" class="activity-icon">
            </div>
          </div>
        </div>
        <div class="results-grid__item">
          <div class="results-card">
            <div class="results-card__head">
              <h2 class="results-card__name">Barack</h2>
              <p class="results-card__sa">M - 55</p>
            </div>
            <div class="results-card__activities">
              <img src="http://vignette2.wikia.nocookie.net/object-overload/images/6/6c/New_SoccerBall.png/revision/latest?cb=20131215161216" alt="" class="activity-icon">
              <img src="http://vignette2.wikia.nocookie.net/object-overload/images/6/6c/New_SoccerBall.png/revision/latest?cb=20131215161216" alt="" class="activity-icon">
              <img src="http://vignette2.wikia.nocookie.net/object-overload/images/6/6c/New_SoccerBall.png/revision/latest?cb=20131215161216" alt="" class="activity-icon">
            </div>
          </div>
        </div>



        {{!-- <li class="results-list__item">Profile</li>
        <li class="results-list__item">Profile</li>
        <li class="results-list__item">Profile</li>
        <li class="results-list__item">Profile</li> --}}

      </div>


  </div>
</div>
