{{outlet}}
<div class="section">
  <div class="container">
    <div class="filter-set">
      {{!-- actions on each button? --}}
      <button type="button" class="filter-set__button"><img src="../public/images/001-signs.png" alt="" class="filter-icon"></button>
      <button type="button" class="filter-set__button"><img src="../public/images/002-man.png" alt="" class="filter-icon"></button>
      <button type="button" class="filter-set__button"><img src="../public/images/003-food.png" alt="" class="filter-icon"></button>
      <button type="button" class="filter-set__button"><img src="../public/images/basketball-player.png" alt="" class="filter-icon"></button>


    </div>
    <div class="map">
      <img src="http://www.mapaplan.com/travel-map/london-top-tourist-attractions-map/high-resolution/london-top-tourist-attractions-map-09-google-maps-mashup-high-resolution.jpg" alt="dat map">
      {{!-- <embed src="" type=""> --}}
    </div>

      <div class="results">
        <div class="results-list__card"></div>
        <div class="results-list__card"></div>
        <div class="results-list__card"></div>
        <div class="results-list__card"></div>
        {{!-- <li class="results-list__item">Profile</li>
        <li class="results-list__item">Profile</li>
        <li class="results-list__item">Profile</li>
        <li class="results-list__item">Profile</li> --}}

      </div>


  </div>
</div>
