{{outlet}}
<div class="section">
  <div class="container">
    <div class="map-header">
      <h1 class="map-header__attention">Find <span class="workout-partners">Workout Partners</span> Near You</h1>
      <h2 class="map-header__direction">(Try clicking a filter below to get started!)</h2>

      <div class="filter-set">
      {{!-- actions on each button? --}}

      <button type="button" class="filter-set__button"><img src="./images/running-icon.png" alt="" class="filter-icon"></button>
      <button type="button" class="filter-set__button"><img src="./images/cyclist-icon.png" alt="" class="filter-icon"></button>
      <button type="button" class="filter-set__button"><img src="./images/man-lifting-icon.png" alt="" class="filter-icon"></button>

      </div>

    </div>

  </div>


<div class="map-section">
  <h2 class="map-header__filter">Currently Filtering Users Who Also Enjoy: {{activities}} <span class="workout-partners">Swimming</span></h2>
    <div class="map">
      {{!-- {{g-maps name="my-map" lat=lat lng=lng zoom=zoom}} --}}
    </div>
</div>
    <div class="container">
      <div class="results-grid">
        <div class="results-grid__item">
          <div class="results-card">
            <div class="results-card__info">
              <h2 class="results-card__name">Will P.</h2>
              <p class="results-card__details">F - 25</p>
            </div>
            <p class="results-card__availability">Avalaible: M/Tr/F</p>
            <div class="results-card__activities">
              <img src="./images/man-lifting-icon.png" alt="" class="activity-icon">
              <img src="./images/man-lifting-icon.png" alt="" class="activity-icon">
              <img src="./images/man-lifting-icon.png" alt="" class="activity-icon">
            </div>
          </div>
        </div>
        <div class="results-grid__item">
          <div class="results-card">
            <div class="results-card__info">
              <h2 class="results-card__name">Kelly C.</h2>
              <p class="results-card__details">F - 25</p>
            </div>
            <p class="results-card__availability">Avalaible: M/Tr/F</p>
            <div class="results-card__activities">
              <img src="./images/man-lifting-icon.png" alt="" class="activity-icon">
              <img src="./images/man-lifting-icon.png" alt="" class="activity-icon">
              <img src="./images/man-lifting-icon.png" alt="" class="activity-icon">
            </div>
          </div>
        </div>
        <div class="results-grid__item">
          <div class="results-card">
            <div class="results-card__info">
              <h2 class="results-card__name">Blake H.</h2>
              <p class="results-card__details">F - 25</p>
            </div>
            <p class="results-card__availability">Avalaible: M/Tr/F</p>
            <div class="results-card__activities">
              <img src="./images/man-lifting-icon.png" alt="" class="activity-icon">
              <img src="./images/man-lifting-icon.png" alt="" class="activity-icon">
              <img src="./images/man-lifting-icon.png" alt="" class="activity-icon">
            </div>
          </div>
        </div>



        {{!-- <li class="results-list__item">Profile</li>
        <li class="results-list__item">Profile</li>
        <li class="results-list__item">Profile</li>
        <li class="results-list__item">Profile</li> --}}

      </div>

    </div>

</div>
