<div class="card-section">
  <div class="card-container">
    <div class="content">
      <div class="card-headline">
        {{#link-to "edit" class="edit-card__tab"}}Edit Profile{{/link-to}}
        {{#link-to "messages" class="edit-card__tab"}}My Messages{{/link-to}}
      </div>

    </div>
  </div>
</div>
