<div class="section">
  <div class="card">
    <div class="card-container">
      <div class="card-sidebar">

        <div class="card-sidebar__item">
          <p class="card-sidebar__item-text">Edit Profile</p>
        </div>

        <div class="card-sidebar__item">
          <p class="card-sidebar__item-text">View My Profile</p>
        </div>

      </div>

      <div class="content">
        <div class="content-form">

          <div class="input-container">
            <form action="" class="input-container">
              <input class="content-form__input" type="text" placeholder="Name">
              {{!-- {{input id=""}} --}}
              <input class="content-form__input" type="text" placeholder="Email">
              <input class="content-form__input" type="text" placeholder="Age Range">
              <select class="content-form__input" type="text" placeholder="Gender">
                <option class="content-form__option" value="Male">Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              <input class="content-form__input" type="text" placeholder="Location">
              <textarea class="content-form__input" name="name" rows="8" maxlength="500" placeholder="Bio"></textarea>
              <input class="content-form__input" type="text" placeholder="Activities">
              <input class="content-form__input" type="text" placeholder="Availability">
              <button class="content-form__submit">Save Changes</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
