<div class="section">
  <div class="card">
    <div class="card-container">
      <div class="card-sidebar">

        <div class="card-sidebar__item">
          <p class="card-sidebar__item-text">Edit Profile</p>
        </div>

        <div class="card-sidebar__item">
          <p class="card-sidebar__item-text">Change Photo</p>
        </div>

        <div class="card-sidebar__item">
          <p class="card-sidebar__item-text">Change Password</p>
        </div>

        <div class="card-sidebar__item">
          <p class="card-sidebar__item-text">View My Profile</p>
        </div>

      </div>

      <div class="content">
        <div class="content-form">

          <div class="input-container">
            <input class="content-form__input" type="text" placeholder="Name">
            <input class="content-form__input" type="text" placeholder="Email">
            <input class="content-form__input" type="text" placeholder="Gender">
            <input class="content-form__input" type="text" placeholder="Location">
            <textarea class="content-form__input" name="name" rows="8" placeholder="Bio"></textarea>
            <input class="content-form__input" type="text" placeholder="Activities">
            <button class="content-form__submit">Save Changes</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
