<div class="section">
  <div class="card">
  <div class="card-container">
    <div class="card-sidebar">

      <div class="card-sidebar__item">
        <p class="card-sidebar__item-text">Edit Profile</p>
      </div>

      <div class="card-sidebar__item">
        <p class="card-sidebar__item-text">Change Photo</p>
      </div>

      <div class="card-sidebar__item">
        <p class="card-sidebar__item-text">Change Password</p>
      </div>

      <div class="card-sidebar__item">
        <p class="card-sidebar__item-text">View My Profile</p>
      </div>

    </div>

    <div class="content">
      <div class="content-form">

        <div class="content-form__item">
          <p class="content-form__title">Name:</p>
          <input class="content-form__input" type="text" placeholder="">
        </div>

        <div class="content-form__item">
          <p class="content-form__title">Email:</p>
          <input class="content-form__input" type="text" placeholder="">
        </div>

        <div class="content-form__item">
          <p class="content-form__title">Gender:</p>
          <input class="content-form__input" type="text" placeholder="">
        </div>

        <div class="content-form__item">
          <p class="content-form__title">Location:</p>
          <input class="content-form__input" type="text" placeholder="">
        </div>

        <div class="content-form__item">
          <p class="content-form__title">Bio:</p>
          <textarea class="content-form__input" name="name" rows="8" cols="80"></textarea>
        </div>

        <div class="content-form__item">
          <p class="content-form__title">Activities:</p>
          <input class="content-form__input" type="text" placeholder="">
        </div>

      </div>
    </div>
  </div>
</div>
</div>
