<div class="section">
  <div class="activities">
    <h2 class="activities-text">Select 3 Activities:</h2>
    <div class="activities-options">

      {{#each activities as |activity|}}
        <div {{action "chooseActivity" activity}} class="activities-options__item {{if (contains activity choices) "activities-options__item--selected"}}">
          <img src="/images/{{activity.pic}}.png" alt="" class="activities-options__image">
        </div>
      {{/each}}

    </div>

    <div class="move-on">
      <div class="move-on__button">{{#link-to 'profile.availability'}}Skip{{/link-to}}</div>
      <button class="move-on__button"><i class="fa fa-chevron-circle-right forward" aria-hidden="true"></i></button>
    </div>

  </div>
</div>
