<div class="section">
  <div class="activities">
    <h2 class="activities-text">Select 3 Activities:</h2>
    <div class="activities-options">

      <div class="activities-options__item">
        <img src="./images/running-icon.png" alt="" class="activities-options__image">
      </div>

      <div class="activities-options__item">
        <img src="./images/hiking-icon.png" alt="" class="activities-options__image">
      </div>

      <div class="activities-options__item">
        <img src="./images/cyclist-icon.png" alt="" class="activities-options__image">
      </div>

      <div class="activities-options__item">
        <img src="./images/swimming-figure.png" alt="" class="activities-options__image">
      </div>

      <div class="activities-options__item">
        <img src="./images/tennis-icon.png" alt="" class="activities-options__image">
      </div>

      <div class="activities-options__item">
        <img src="./images/yogapose-icon.png" alt="" class="activities-options__image">
      </div>

      <div class="activities-options__item">
        <img src="./images/man-lifting-icon.png" alt="" class="activities-options__image">
      </div>

      <div class="activities-options__item">
        <img src="./images/basketball-player.png" alt="" class="activities-options__image">
      </div>

      <div class="activities-options__item">
        <img src="./images/man-boxing.png" alt="" class="activities-options__image">
      </div>

    </div>

    <div class="move-on">
      <div class="move-on__button">{{#link-to 'create2'}}Skip{{/link-to}}</div>
      <div class="move-on__button">{{#link-to 'create2'}}<i class="fa fa-chevron-circle-right forward" aria-hidden="true"></i>{{/link-to}}</div>
    </div>

  </div>
</div>
